#grid{
    width: 420px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    img{
        margin: 2px;
    }
}

body{
    background-color: darkgrey;
}

.holographic-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
  }